#appTytle {
    text-align:center;
    margin: 30px auto;
}
.centerdComponents {
    text-align:center;
    margin: 15px auto;
    font-size:20px;
}
.centerdComponents li {
    padding-right:60px;   
    list-style-position: inside;
}


#SearchFromName {
    width:350px;
    height:100px;
    border: 2px solid green;
}   

#SearchFromLocation {
    width:350px;
    height:100px;
    border: 2px solid green;
}

#MapField {
    width:350px;
    height:350px;
    border: 2px solid purple;
    border-radius: 4px;
    margin:25px;
}

#ListField {
    width:350px;
    height:350px;
    border: 2px solid purple;
    border-radius: 4px;
    margin:25px;
    overflow:auto;
}

#ListField li {
    margin-bottom:10px;
    font-size:18px;
}
#content-wrapper {
    width:798px;
    margin: 0px auto;
    height:400px;
    display:flex;
    border: 2px solid green;
}
#App {
    background-color:lightblue;
    width:910px;
    height:800px;
}
